.cyclo {
    width: 60%;
    border-radius: 10px;
    margin: auto auto 25px;
}

#cyclostomata {
    background-color: #ffffff;
    color: black;
    padding: 10%;
}

.cyclo-para {
    text-align: center;
}

.modal-body {
    text-align: center;
}

.cyco-img {
    width: 60%;
    border-radius: 10px;
    height: 60%;
    margin-bottom: 25px;
}

.modal-button {
    display: block;
    border-radius: 20px;
    width: 60%;
    margin: auto 20%;
}
@media  screen and (min-width:1200px){
.modal-button{
    border-radius:40px;
    height: 150%;
}
}